<!DOCTYPE html>
<html>
    <head>
        <title>Question</title>
        <link rel="stylesheet" href="Home.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            body{
                background-color: rgb(230, 96, 44);
            }
        </style>
    </head>
    <body>
        <div class="container" align="center">
            <div class="jumbotron">
                <form class="" action="Section2Submission.html" method="post">
                    <p>x/y</p>
                    <p>What is the average of first five multiples of 12?</p>
                    <p>A. 36</p>
                    <p>B. 38</p>
                    <p>C. 40</p>
                    <p>D. 42</p>
                    <input type="text" name="x" value="" placeholder="Enter Answer">
                    <p></p>
                    <button type="button" class="btn btn-primary" name="nxt" onclick="window.location.href='Question2.html'">Next</button>
                    <button type="submit" class="btn btn-success" name="submit">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
