<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="/static/css/Home.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            body{
                background-color: rgb(230, 96, 44);
            }
        </style>
    </head>
    <body>
        <div class="container" align="center">
            <div class="jumbotron">
                <form class="" action="/login/" method="post">
                    {% csrf_token %}
                    <p>Enter First Name:
                    <input type="text" name="x" value=""></p><br>
                    <p>Enter Last Name:
                    <input type="text" name="x" value=""></p><br>
                    <p>Enter Email Address:
                    <input type="Email" name="x" value=""></p><br>
                    <p>Enter UserName:
                    <input type="text" name="x" value=""></p><br>
                    <p>Enter Password:
                    <input type="password" name="x" value=""></p><br>
                    <p>Confirm Password:
                    <input type="password" name="x" value=""></p><br>
                    <button type="submit" class="btn btn-success" name="submit">Submit</button>
                    <button type="button" class="btn btn-primary" name="reg" onclick="window.location.href='/login/'">Login</button>
                </form>
                </div>
        </div>
        <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
          crossorigin="anonymous"></script>
        <script src="scr.js">
        </script> -->
    </body>
</html>
